@charset "UTF-8";

/*------------------------
[TABLE OF CONTENTS]
    

1. HEADER
2. BANNER
3. ADVERTISING
4. PRESENTATION
5. GALLERY
6. PRICING
7. CALL TO ACTION
8. FOOTER
------------------------*/


/* GENERAL */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #183460;
}


/* 1. HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin-top: 2%;
    margin-left: 10%;
}

.header_logo {
    width: 10px;
    height: 20px;
}

.listnav {
    width: 80%;
    margin-top: 20px;
    align-content: space-around;
}

.listnav a {
    font-size: 12pt;
    text-decoration: none;
    color: white;
    position: relative;
    align-content: space-between;
    padding: 30px 2em;
}

.listnav a::before {
    content: "";
    display: block;
    width: 0;
    height: 0.3em;
    background: #eb5866;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.listnav a:hover::before {
    width: 100%;
}


/* BANNER */


/* Gneral Banner */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin: 0px auto;
}


/* Top banner */

.banner__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}


/* Block top */

.btop__rigth h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300pt;
    font-size: 100pt;
    color: white;
    z-index: 1;
}

.btop__center img {
    position: relative;
    width: 80%;
    z-index: 2;
}

.banner__center {
    width: 50%;
    float: none;
    margin: 0px auto;
}

.center__back {
    background-image: url('images/nike_banner.png');
    margin: 0px auto;
    height: 100%;
    background-size: contain;
    display: block;
    margin: 0 auto;
}


/* Bottom banner */

.banner__bottom {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #eb5866;
}