@charset "UTF-8";
/*------------------------
[TABLE OF CONTENTS]
    

1. HEADER
2. BANNER
3. ADVERTISING
4. PRESENTATION
5. GALLERY
6. PRICING
7. CALL TO ACTION
8. FOOTER
------------------------*/

/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #183460;
}

/* 1. HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin-top: 2%;
    margin-left: 10%;
}

.header_logo {
    width: 10px;
    height: 20px;
}

/* Lis nav */

.listnav {
    width: 80%;
    margin-top: 20px;
    align-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.listnav a {
    font-size: 12pt;
    text-decoration: none;
    color: white;
    position: relative;
    align-content: space-between;
    padding: 20px 2em;
}

.listnav a::before {
    content: "";
    display: block;
    width: 0;
    height: 0.3em;
    background: #eb5866;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.listnav a:hover::before {
    width: 100%;
}

/* BANNER */

/* Gneral Banner */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin: 0px auto;
    transition: transform .3s ease-in-out;
}

/* Top banner */

.banner__top {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Block top */

/* Rigth seccion */

.btop__rigth {
    width: 25%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btop__rigth h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 700%;
    color: white;
    z-index: 1;
    margin: 5pt;
}

/* Center seccion */

.btop__center {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center__back {
    height: 100%;
    margin: 0 auto;
    background-image: url('images/nike_banner.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    z-index: -2;
    position: relative;
}

.center__image {
    width: 90%;
    transform: rotate(-30deg);
    z-index: -1;
    position: relative;
}

/* left seccion */

.btop__left {
    width: 25%;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.btop__left h2 {
    font-family: 'Montserrat';
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    color: #43CDEC;
    text-align: end;
    display: inline-block;
    vertical-align: baseline;
}

/* Bottom banner */

.banner__bottom {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #eb5866;
    margin: 0;
}

/* Advertising */

.advertising {
    width: 100%;
    height: 30%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    transition: transform .3s ease-in-out;
}

.individual {
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding: 0 25px;
    border-radius: 23px;
    margin: 5%;
    transition: transform .3s ease-in-out;
}

.advertising__individual--inactive {
    transition: none;
}

.individual__image {
    width: 200px;
    position: absolute;
    top: 20px;
    right: 200px;
    transform: rotate(-25deg);
}

.left {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.left__header {
    font-family: 'Montserrat';
    font-size: 13pt;
    color: #eb5866;
    padding: 2%;
    margin: 0;
}

.left__center img {
    width: 20px;
    margin: 0;
}

.left__bottom h2 {
    margin: 0;
}
.left__bottom p{
    margin: 4pt 0;
}

/* PRESENTATION */

.presentation {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    margin-left: 10%;
    transition: transform .3s ease-in-out;
}

.presentation__top {
    display: flex;
    align-self: center;
    margin: 0;
}

.presentation__top h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 40pt;
    color: #FF302A;
    margin: 0;
}

.presentation__bottom {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.presentation__bottom img {
    width: 50%;
    margin: 0;
}

.pright {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    align-content: space-between;
}

/* Characteristic */

.characteristic {

    margin: 10pt 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    align-content: space-between;
}
.characteristic__item{
    margin: 20pt;
    flex-grow: 0;
    width: 30%;
        border-radius: 23px; 
}

.characteristic__img {
    width: 60px;
    margin: 0;
 
}

.characteristic__container h2 {
color: #FF302A;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    vertical-align: auto;
    margin: 0;
}
.characteristic__container p {
    color: #43CDEC;
    text-align: justify;
    margin: 10pt 0;
}
/* GALLERY */
.gallery{
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    align-content: space-between;
}
.vertical{
    overflow: hidden;
}
.vertical__slider{
    display: flex;
    align-items: flex-start;
    transition: transform .3s ease-in-out;
}
.vertical__img{
    width: 100%;
}
.horizontal{
    overflow: hidden;
}
.horizontal__slider{
    display: flex;
    align-items: flex-start;
    transition: transform .3s ease-in-out;
}
.horizontal__img{
    width: 100%;
}

.last{
    overflow: hidden;
}
.last__slider{
    display: flex;
    align-items: flex-start;
    transition: transform .3s ease-in-out;
}
.last__img{
    width: 100%;
}
